.Button {
    --button-transition:
        top 100ms ease-in-out,
        bottom 100ms ease-in-out,
        left 100ms ease-in-out,
        right 100ms ease-in-out,
        opacity 100ms linear,
        background-color 100ms linear;
    --glow:
        inset 0px 0px 7px 2px rgba(240, 228, 183, 0.3),
        0 0 20px 7px rgba(240, 228, 183, 0.2);
    --halo-offset: 6px;
    --halo-hover-offset: 3px;
    --diamond-offset: 8px;
    --diamond-hover-offset: 5px;

    position: relative;
    background-color: var(--primary-color-3);
    color: var(--primary-color-2);
    height: 48px;
    width: 200px;
    font-family: var(--headline-font-medium);
    transition: var(--button-transition);

    .halo {
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid var(--secondary-color-4);
        opacity: 0.8;
        transition: var(--button-transition);
        box-shadow: var(--glow);
    }

    .halo1 {
        top: calc(-1 * var(--halo-offset));
        left: var(--halo-offset);
    }

    .halo2 {
        bottom: calc(-1 * var(--halo-offset));
        left: calc(-1 * var(--halo-offset));
    }

    .diamond {
        position: absolute;
        border: 1px solid var(--secondary-color-4);
        opacity: 0.8;
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        transition: var(--button-transition);
    }

    .diamond1 {
        top: calc(-1 * var(--diamond-offset));
        left: calc(-1 * var(--diamond-offset));
    }

    .diamond2 {
        bottom: calc(-1 * var(--diamond-offset));
        right: calc(-1 * var(--diamond-offset));
    }

    &:hover, &:active {
        background-color: var(--primary-color-7);

        .halo {
            opacity: 1;
        }

        .halo1 {
            top: calc(-1 * var(--halo-hover-offset));
            left: var(--halo-hover-offset);
        }

        .halo2 {
            bottom: calc(-1 * var(--halo-hover-offset));
            left: calc(-1 * var(--halo-hover-offset));
        }

        .diamond {
            opacity: 1;
        }

        .diamond1 {
            top: calc(-1 * var(--diamond-hover-offset));
            left: calc(-1 * var(--diamond-hover-offset));
        }

        .diamond2 {
            bottom: calc(-1 * var(--diamond-hover-offset));
            right: calc(-1 * var(--diamond-hover-offset));
        }
    }
}
