.MazeProject {
    width: 100%;

    .cover-container {
        display: flex;
        justify-content: center;
    }

    .cover {
        width: 740px;
        padding: 20px;
        border: 1px solid rgba(240, 228, 183, 0.5);
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
    }
}