.CloseIcon {
    --diamond-center: 14px;
    --diamond-expanded-position: 4px;

    position: fixed;
    left: 48px;
    top: 48px;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 29, 19, 0.8);
    z-index: 9;

    .diamond {
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        border: 1px solid var(--secondary-color-4);
        position: absolute;
        opacity: 0;
        transition:
            left 150ms ease-out,
            right 150ms ease-out,
            top 150ms ease-out,
            bottom 150ms ease-out,
            opacity 100ms linear;
    }

    .diamond1 {
        top: var(--diamond-center);
    }

    .diamond2 {
        right: var(--diamond-center);
    }

    .diamond3 {
        bottom: var(--diamond-center);
    }

    .diamond4 {
        left: var(--diamond-center);
    }

    &:hover, &:active {
        cursor: pointer;

        .diamond {
            opacity: 1;
        }

        .diamond1 {
            top: var(--diamond-expanded-position);
        }

        .diamond2 {
            right: var(--diamond-expanded-position);
        }
    
        .diamond3 {
            bottom: var(--diamond-expanded-position);
        }
    
        .diamond4 {
            left: var(--diamond-expanded-position);
        }
    }
}