.PopUp {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pop-up-opening 150ms linear;

    .closing {
        animation: pop-up-closing 150ms linear;
    }

    .pop-up-background {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .pop-up-wrapper {
        position: relative;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 40px 100px 0px 100px;
        background-color: var(--primary-color-2);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scroll-bar-width: none;
        &::-webkit-scrollbar {
            width: 0;
        }

        @media only screen and (max-width: 700px) {
            padding: 40px 40px 0px 40px;
        }
    }

    .pop-up-title {
        font-family: var(--headline-font-regular);
        color: var(--secondary-color-3);
        font-size: 48px;
        word-break: break-all;
        text-align: center;
    }

    @keyframes pop-up-opening {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes pop-up-closing {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}