.ContactCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    margin-bottom: 28px;
    margin-right: 28px;
    background-color: var(--secondary-color-1);
    border: 1px solid rgba(240, 228, 183, 0.5);

    .icon {
        height: 44px;
        width: 44px;
    }

    .info-container {
        display: flex;
        flex-direction: column;

        .media-name {
            font-family: var(--body-font-regular);
            color: var(--primary-color-5);
            font-size: 13px;
        }
        
        .username {
            font-size: 16px;
            color: var(--primary-color-4);
            font-family: var(--body-font-regular);
            text-decoration: underline;
        }
    }

    &:hover {
        cursor: pointer;
    }
}