// Reset
*, *::before, *::after { box-sizing: border-box; }
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
button {
    background-color: none;
    border: none;
    padding: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

// Fonts
@font-face {
    font-family: "Beaufort for LOL Light";
    src: url("./assets/fonts/BeaufortForLoL-OTF/BeaufortForLoL-OTF/BeaufortforLOL-Light.otf");
}
@font-face {
    font-family: "Beaufort for LOL Regular";
    src: url("./assets/fonts/BeaufortForLoL-OTF/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf");
}
@font-face {
    font-family: "Beaufort for LOL Medium";
    src: url("./assets/fonts/BeaufortForLoL-OTF/BeaufortForLoL-OTF/BeaufortforLOL-Medium.otf");
}
@font-face {
    font-family: "Beaufort for LOL Bold";
    src: url("./assets/fonts/BeaufortForLoL-OTF/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf")
        format("opentype");
}
@font-face {
    font-family: "Beaufort for LOL Heavy";
    src: url("./assets/fonts/BeaufortForLoL-OTF/BeaufortForLoL-OTF/BeaufortforLOL-Heavy.otf")
        format("opentype");
}
@font-face {
    font-family: "Spiegel Regular";
    src: url("./assets/fonts/Spiegel-OTF/Spiegel-OTF/Spiegel-Regular.otf")
        format("opentype");
}
@font-face {
    font-family: "Spiegel SemiBold";
    src: url("./assets/fonts/Spiegel-OTF/Spiegel-OTF/Spiegel-SemiBold.otf")
        format("opentype");
}
@font-face {
    font-family: "Spiegel Bold";
    src: url("./assets/fonts/Spiegel-OTF/Spiegel-OTF/Spiegel-Bold.otf")
        format("opentype");
}

// Variables
:root {
    // Colors
    --primary-color-1: #101209;
    --primary-color-2: #191d13;
    --primary-color-3: #9ebe67;
    --primary-color-4: #d3e196;
    --primary-color-5: #e1ecd0;
    --primary-color-6: #c4d5aa;
    --primary-color-7: #B1D378;
    --secondary-color-1: #2e312a;
    --secondary-color-2: #f48454;
    --secondary-color-3: #aaa38a;
    --secondary-color-4: #f0e4b7;
    --secondary-color-5: #ffffff;

    // Fonts
    --heading-font-light: "Beaufort for LOL Light";
    --heading-font-regular: "Beaufort for LOL Regular";
    --heading-font-medium: "Beaufort for LOL Medium";
    --heading-font-bold: "Beaufort for LOL Bold";
    --heading-font-heavy: "Beaufort for LOL Heavy";
    --body-font-regular: "Spiegel Regular";
    --body-font-semibold: "Spiegel SemiBold";
    --body-font-bold: "Spiegel Bold";

    // Transition
    --default-transition: all 200ms ease-out;
}
